.container2 {
    margin-top: 30px;
    margin-left: 20px;
    color: white;
}

.structure {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.icons {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.icons i {
    margin-bottom: 15px;
    color: blue;
}
